<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>osx-arm64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <UseAppHost>true</UseAppHost>
    <PublishAot>true</PublishAot>
    <PublishSingleFile>true</PublishSingleFile>
    <PublishTrimmed>true</PublishTrimmed>
    <TrimmerSingleWarn>false</TrimmerSingleWarn>
    <SuppressTrimAnalysisWarnings>false</SuppressTrimAnalysisWarnings>
    <PublishDir>../../artifacts/publish/macos-arm64/</PublishDir>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <DebugSymbols>false</DebugSymbols>
    <DebugType>none</DebugType>
    <NativeDebugSymbols>false</NativeDebugSymbols>
    <StripSymbols>false</StripSymbols>
  </PropertyGroup>
</Project>
